/* Work Sans Font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* Common Shared Styles
--------------------------- */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Work Sans', sans-serif;
}
.primary-title{
  color:  #131313;
font-size: 2.8rem;
font-weight: 700;
}
.primary-description{
  color: #727272;
font-size: 1rem;
font-weight: 400;
margin-top:1.5rem;
line-height: 1.5rem;
}
.primary-btn{
  margin:2rem 0 3rem;
  padding:20px 25px;
  border-radius: 8px;
  background: #FF900E;
  color: #fff;
  border:none;
  cursor: pointer;
  font-size: 1.25rem;
}

/* header Section
======================= */
.header{
  background: rgba(255, 144, 14, 0.10);
}
.header-contents{
  max-width: 1440px;
  margin:0 auto;
  padding:50px 0;
}
.header h2{
  font-size: 70px;
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  mar
}
.navbar>ul{
  display: flex;
  gap:20px;
}
ul li{
  list-style: none;
  margin-left: 3vw;
}
li a{
  text-decoration: none;
  color: #424242;
  font-size: 1.25rem;
  font-weight: 500;
}
.banner-container{
  max-width: 1440px;
  margin:0 auto;
}
.banner-content{
  max-width: 800px;
  margin:0 auto;
  text-align: center;
  margin-top:100px;
}
.banner-title{
  color: #131313;
font-size: 55px;
font-weight: 700;
}
.banner-img{
  width:100%;
  height:100%;
}
/* main section styles
========================= */
main{
  max-width: 1440px;
  margin:0 auto;
}
/* Features Section Styles
--------------------------- */
.teams-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:130px 3rem;
}

.teams-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1.5rem;
}

.teams-content{
  padding: 0 70px;
}
.teams-title{
font-size: 2.8rem;
color:#FF900E;
font-weight: 700;
}
.quick-list{
  color:#424242;
  font-weight: 500;
}
.of-our{
  color:#131313;
}

/* Fact Section
------------------- */
.fact-content{
  max-width:542px; 
}
.fact-cards{
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.fact-card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  width:235px;
  padding:30px;
}
.fact-card img{
  width:45px;
  height:auto;
}
.card-state{
  color: #424242;
  font-size: 3rem;
  font-weight:600;
  margin: 10px 0 0;
}
.card-title{
  color:  #727272;
font-size: 20px;
font-weight: 600;
}
/* Sponsor Section
----------------------- */
.sponsor-container{
  text-align: center;
  margin-top:100px;
}
.sponsor-content{
  max-width: 542px;
  margin: 0 auto;
}
.sponsor-logos{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  gap:30px;
}
.sponsor-logos img{
  width: 165px;
  margin: 0 auto;
}

/* Responsive styles */
/* Responsive  for Mobile device */
@media screen and (max-width:576px) {
  .header{
    padding: 30px;
  }
  .navbar, .fact-cards, .sponsor-logos{
    flex-direction: column;
  }
  .navbar>ul{
    margin-top:50px;
  }
  .teams-container{
    flex-direction: column-reverse;
  }
  .teams-content{
    padding: 20px;
  }
  .teams-images{
    grid-template-columns: 1fr;
  }
 .facts, .fact-card{
  padding:30px;
 }
  .fact-content{
    width:88%; 
  }
 
}


/* Responsive for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
  .header{
    padding: 60px;
  }
  .navbar{
    flex-direction: column;
  }
  .navbar>ul{
    margin-top:50px;
  }
  .teams-container{
    flex-direction: column-reverse;
  }
  .teams-content{
    padding: 30px;
  }
  .sponsor-logos{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  
}